.cadastro-container {
  margin: 50px auto;
  max-width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin: 10px 0 5px;
}

.form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  background-color: #0078d7;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #005bb5;
}
